// -- Variables --
$mainColor: #FF9398;
$secondaryColor: #000000;
$largeText: 1.5rem;
$pagePadding: 200px;
$shadowSize: 8px;
$transition: all 0.2s ease;

// Image
$imageHeight: 400px;
$imageWidth: 400px;
$imageRadius: 12px;

$mainPictureOffsetX: 90px;
$mainPictureOffsetY: 70px;
$mainPictureRotation: 13deg;

// Slideshow

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}

img {
  vertical-align: middle;
  border-radius: $imageRadius;
}

/* Slideshow container */
.slideshow-container {
  width: $imageWidth;
  height: $imageHeight;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 102%;
  width: auto;
  padding: 1px 10px 1px 10px;
  margin-top: -7px;
  color: $mainColor;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(0, 0, 0);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 4px;
  background-color: black;
  border-radius: 50%;
  border: solid;
  border-color: #000000;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: $mainColor;
}

/* Fading animation */
.mySlides {
  display: none;
  border-radius: $imageRadius;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade:not(.show) {
  opacity: 1;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

// Global styles
* {
  color: black;
}

.mainColor {
  color: $mainColor;
}

.homeText1 {
  font-size: 1.2rem;
  color: #000000; /* adjust color as needed */
  margin-bottom: 5px;
}

.homeText2 {
  font-size: 1rem;
  color: $mainColor; /* adjust color as needed */
  margin-bottom: 5px;
}

.homeText3 {
  font-size: 1rem;
  color: #000000; /* adjust color as needed */
  margin-bottom: 5px;
}

.page {
  height: 100vh;
  padding-inline: $pagePadding;
}

.styledButton {
  width: fit-content;
  background-color: $mainColor;
  padding: 8px 13%;
  border: none;
  border-radius: 6px;

  -webkit-box-shadow: $shadowSize $shadowSize 0px 0px $secondaryColor;
  -moz-box-shadow: $shadowSize $shadowSize 0px 0px $secondaryColor;
  box-shadow: $shadowSize $shadowSize 0px 0px $secondaryColor;
  transition: $transition;
}

.styledButton:hover {
  border-radius: 12px;
  scale: 0.95;
  box-shadow: 0px 0px 0px 4px rgb(0, 0, 0);
}

.line {
  border-radius: $imageRadius;
  opacity: 1;
  border: none;
  position: absolute;
  background-color: $mainColor;
  height: 6px;
  z-index: -1;
}

.page:not(#homePage) .title {
  margin-bottom: 2em;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(57, 57, 57);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $mainColor;
}

.label {
  background-color: $mainColor;
  border-radius: 8px;
}

// Navigation
#navigation {
  transform: translateY(-50%);
  z-index: 100;
}

#navigation button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  will-change: box-shadow,transform;
  background: $mainColor;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #000000;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: black;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}

#navigation button path {
  transition: $transition;
}

#navigation button.active {
  box-shadow: inset 0px 3px 7px #000000;
  transform: translateY(2px);
}

#navigation button.active path {
  cursor: pointer;
  scale: 0.95;
  transform: rotate(5deg);
  color: rgb(0, 0, 0);
  opacity: 0.4;
}

#navigation button:hover:not(.active) {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #000000;
  transform: translateY(-2px);
}

// Home
.mainPicture {
  border-radius: $imageRadius;
  height: $imageHeight;
  width: $imageWidth;
}

.mainPicture {
  z-index: 1;
  transition: all 1s linear;
}

.title {
  font-size: 3rem;
}

#homePage .line {
  transform: translate(-50%, -50%) rotate(-75deg);
  top: 50%;
  left: 55%;
  width: 600px;
}

// About me
.aboutElement {
  border: solid 4px $secondaryColor;
  padding: 30px;
  height: 20em;
  width: 20em;
  border-radius: 12px;
  text-align: center;
  transition: $transition;
}

.aboutElement:hover {
  cursor: pointer;
  scale: 0.95;
  border-color: $mainColor;
  transform: rotate(5deg);
}

.aboutElement a {
  color: white
}

// Experience
#experiencePage {
  height: max-content;
}

.projectElement img {
  width: 100%;
  border-radius: 0px 0px 7px 7px;
}

.projectElement:hover {
  cursor: pointer;
  scale: 0.95;
  border-color: $mainColor;
}

.projectElement {
  border: solid 4px $mainColor;
  padding: 0;
  border-radius: 10px;
}

// Contact
#contactPage hr {
  height: 6px;
  background-color: $mainColor;
  border-radius: 8px;
  border: none;
  opacity: 1;
}

#contactPage #socials path {
  color: $secondaryColor;
  transition: $transition;
}

#contactPage #socials svg:hover path {
  scale: 0.95;
  transform: rotate(5deg);
}

#contactPage input,
#contactPage textarea {
  width: 100%;
  background-color: black;
  border: solid 2px white;
  border-radius: 5px;
  padding: 5px;
}

#contactPage input:focus,
#contactPage textarea:focus {
  border: solid 2px $mainColor !important;
  outline: none;
}

#contactPage p {
  margin: 0;
}

// newPage
#newPage {
  height: 100vh;
}

#newPage img {
  border-radius: 8px;
}

#newPage .scrollingFrame {
  overflow-y: auto;
}

#newPage .line.lineLeft {
  transform: translate(-50%, -50%) rotate(97deg);
  bottom: 50%;
  right: -70vh;
  width: 90vh;
}

#newPage .line.lineRight {
  transform: translate(-50%, -50%) rotate(97deg);
  bottom: 50%;
  right: -43vh;
  width: 70vh;
}

// phoneView
@media screen and (max-width: 1000px) {
  #navigation {
    display: none !important;
  }

  .margin {
    padding: 200px;
  }

  .page {
    padding: 20px;
  }

  #experiencePage {
    margin-top: 650px;
  }

  #homePage .imageContainer {
    display: none;
  }

  #homePage .line {
    display: none;
  }

  .aboutElement {
    width: 100%;
  }

  // newPage
  #newPage {
    width: 100% !important;
  }

  #newPage .scrollingFrame {
    height: 50vh !important;
  }

  #newPage img {
    max-width: 100% !important;
  }
}